:root{
	--primary:#3D3D3D;
}
/* GENERAL CONTAINER*/
.pymes-repository{
	background-image: url('../puerto-gaitan-arco.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* HEADER */
.pymes-repository__header-container{
	border: solid 1px var(--primary);
	margin: 0 auto;
	max-width: 1200px;
	border-radius: 20px;
	overflow: hidden;
	position: sticky;
	background-color: rgba(255, 255, 255, 0.65);
	top: 20px;
	backdrop-filter: blur(2px);
}
.pymes-repository__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
}
.pymes-repository__title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color:var(--primary);
}
.pymes-repository__logo {
  width: 80px;
  height: 70px;
  border-radius: 50%;
}
.pymes-repository__title{
	margin:0;
}
/* FOOTER */
.pymes-repository__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	background-color: #fff;
  }