:root{
	--primary:#3D3D3D;
	--secondary:#007B38;
	--max-width: 1200px;
}
*{
	margin: 0;
	box-sizing: border-box;
}
body,h1,h2,h3{
	color:var(--primary);
}
/* GENERAL CONTAINER*/
.pymes-repository{
	background-image: url('../puerto-gaitan-arco.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
	gap:60px;
	padding: 0 20px;
}

/* HEADER */
.pymes-repository__header-container{
	overflow: hidden;
	position: sticky;
	top: 20px;
	z-index:100;
}
.pymes-repository__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: var(--max-width);
  border: solid 1px var(--primary);
  border-radius: 20px;
  margin:0 auto;
  background-color: rgba(255, 255, 255, 0.65);
  top: 20px;
  backdrop-filter: blur(2px);
  gap:20px;
}
.pymes-repository__title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color:var(--primary);
}
.pymes-repository__logo {
  width: 125px;
  height: 85px;
  border-radius: 10px;
}
.pymes-repository__title{
	margin:0;
	text-align: center;
}

/* MAIN CONTENT */
.pymes-repository__repo-files{
	padding: 20px;
	border: solid 1px var(--primary);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.80);
	max-width: var(--max-width);
	margin: 0 auto;
	width:100%;
}
.pymes-repository__repo-files-container{
	display: flex;
	flex-wrap: wrap;
	gap:20px;
	margin: 30px  0;
}
.pymes-repository__file-container{
	display: flex;
	align-items: center;
	padding: 20px;
	border: solid 1px var(--primary);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 1);
	gap:10px;
}
.pymes-repository__file-icon{
	color:var(--secondary);
}
.pymes-repository__file-name{
	color:var(--primary);
	font-weight:700;
}

/* FOOTER */
.pymes-repository__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	max-width: var(--max-width);
	border: solid 1px var(--primary);
	border-radius: 20px;
	margin:0 auto;
	background-color: rgba(255, 255, 255, 0.65);
	top: 20px;
	backdrop-filter: blur(2px);
	margin-bottom:20px;
  }
  @media(max-width:992px){
	.pymes-repository__header{
		justify-content: center;
	}
	.pymes-repository__repo-files-container{
		flex-direction:column;
	}
	.pymes-repository__file-container{
		width: -webkit-fill-available;
	}
  }